body
{
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
header
{
	height: 10vh;
	width: 100vw;
}
header .logo
{
	height: 10vh;
	width: 50vw;

	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
header img
{
	height: 50px;
	width: 100px;
	display: block;
	margin: 1vh 0 0 5vh;
}
header nav
{
	float: left;
	height: 10vh;
	width: 50vw;
	text-align: right;

}
header nav .menu
{

	text-align: center;
	display: none;
	width: 100vw;
	position: relative;
	clear: both;
    position: fixed;
    top: 10vh;
    left: 0vh;




}
header nav .menu a
{
	text-decoration: none;
	height: 13.4vh;
	color: grey;
	line-height: 13.4vh;
	display: block;
	background-color: #fff;
	font-size: 3vh;
	border-top: 1px solid #000;
}
header nav .menu a:first-child
{
	border-top: 0px;
}
header nav label
{
	margin: 1vh 5vh 0 0;
	width: 30px;
	font-size: 6vh;
	display: block;
	cursor: pointer;
	float: right;

	
}
#toggle
{
	display: none;
}
#toggle:checked + .menu
{
	display: block;

}
main
{
	height: 80vh;
	box-sizing: border-box;
	z-index: ;

	
}
main .text
{
	height: 40vh;
	width: 100vw;



}
main .text h1
{
	margin: 0;
	padding-top:17vh;
	text-align: center;
	font-size: 6vh;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Lato';


}
main .buttons
{
	height: 40vh;
	width: 100vw;
	text-align: center;




}
main #right
{
	background: linear-gradient(to right, #c94b4b, #4b134f);
	color: #C5CDEC;
	font-family: 'Helvetica';
	width: 25vh;
	height: 8vh;
	font-size: 3vh;
	border-radius: 50px;
	margin-top: 5vh;
}
main #left
{
	background: linear-gradient(to left, #c94b4b, #4b134f);
	color: #C5CDEC;
	font-family: 'Helvetica';
	width: 25vh;
	height: 8vh;
	font-size: 3vh;
	border-radius: 50px;
	margin-top: 10vh;


}
main #right:hover
{
	background: linear-gradient(to left, #c94b4b, #4b134f);
	cursor: pointer;
}
main #left:hover
{
	background: linear-gradient(to right, #c94b4b, #4b134f);
	cursor: pointer;

}
main .bg-model
{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	display: none;

	
}
main .modal-content
{
	width: 45vw;
	height: 55vh;
	background-color: #fff;
	margin-top: 15vh;
	text-align: center;
	padding: 4vh;
	border-radius: 4px;
	position: relative;

}
main .modal-content img
{
	height: 13vh;
	width: 13vh;
	padding-top: 8vh;
}
main #submit
{
	background-color: grey;
	color: #C5CDEC;
	font-family: 'Helvetica';
	width: 22vh;
	height: 7vh;
	font-size: 3vh;
	border-radius: 50px;


}
main input
{
	width: 45vw;
	height: 5vh;
	display: block;
	margin: 3vh auto; 
}
main .close
{
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 5vh;
	transform: rotate(45deg);
	top: 0;
	cursor: pointer;

}
main .bg-model2
{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	display: none;

	
}
main .modal-content2
{
	width: 45vw;
	height: 55vh;
	background-color: #fff;
	margin-top: 15vh;
	text-align: center;
	padding: 4vh;
	border-radius: 4px;
	position: relative;

}
main .modal-content2 img
{
	height: 13vh;
	width: 13vh;
	padding-top: 0;
}



main .close2
{
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 5vh;
	transform: rotate(45deg);
	top: 0;
	cursor: pointer;

}
footer
{
	height: 10vh;
	width: 100vw;
}





@media only screen and (min-width : 450px)
{
	header nav label{display: none;}
	header nav .menu{display: block; ;top: 0vh;height: 10vh; }
	header nav .menu a{background: none;border-top: none; padding-right: 5vh;float: right;}
	main input{width: 25vw;}
	main .modal-content{width: 35vw;}
	main .modal-content2{width: 35vw;}
	
}