body
{
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
header
{
	height: 10vh;
	width: 100vw;
}
header .logo
{
	height: 10vh;
	width: 50vw;
	background-color: #a2f2b2;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
}
header img
{
	height: 8vh;
	width: 15vw;
	display: block;
	margin: 1vh 0 0 5vh;
}
header nav
{
	float: left;
	height: 10vh;
	width: 50vw;
	background-color: #c2f2a2;
	text-align: right;

}
header nav .menu
{

	text-align: center;
	display: none;
	width: 100vw;
	position: relative;
	clear: both;
    position: fixed;
    top: 10vh;
    left: 0vh;




}
header nav .menu a
{
	text-decoration: none;
	height: 13.4vh;
	color: grey;
	line-height: 13.4vh;
	display: block;
	background-color: #fff;
	font-size: 3vh;
	border-top: 1px solid #000;
}
header nav .menu a:first-child
{
	border-top: 0px;
}
header nav label
{
	margin: 1vh 5vh 0 0;
	width: 30px;
	font-size: 6vh;
	display: block;
	cursor: pointer;
	float: right;

	
}
#toggle
{
	display: none;
}
#toggle:checked + .menu
{
	display: block;

}
main
{
	height: 80vh;
	box-sizing: border-box;
	z-index: ;

	
}
main .text
{
	height: 40vh;
	width: 100vw;
	background-color: #a2b2b2;



}
main .text h1
{
	margin: 0;
	padding-top:17vh;
	text-align: center;
	font-size: 6vh;
	text-transform: uppercase;
	color: #fff;
	font-family: 'Lato';


}
main .buttons
{
	height: 40vh;
	width: 100vw;
	background-color: #c2b2c2;
	text-align: center;
	padding-top: 3vh;



}
main button
{
	background: linear-gradient(to right, #c94b4b, #4b134f);
	color: #C5CDEC;
	font-family: 'Helvetica';
	width: 30vh;
	height: 10vh;
	font-size: 3vh;
	border-radius: 50px;
	margin-top: 5vh;





}
main button:first-child
{
	background: linear-gradient(to left, #c94b4b, #4b134f);


}
main button:hover
{
	background: linear-gradient(to left, #c94b4b, #4b134f);
	cursor: pointer;
}
main button:first-child:hover
{
	background: linear-gradient(to right, #c94b4b, #4b134f);
	cursor: pointer;

}
footer
{
	height: 10vh;
	width: 100vw;
	background-color: #000;
}